<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.dao.AclDao">
    <resultMap id="aclResultMap" type="com.ly.entity.po.AclPO">
        <result property="id" column="id_"/>
        <result property="code" column="code_"/>
        <result property="name" column="name_"/>
        <result property="nameHeadChar" column="name_head_char_"/>
        <result property="aclModuleId" column="acl_module_id_"/>
        <result property="url" column="url_"/>
        <result property="type" column="type_"/>
        <result property="orderId" column="seq_"/>
        <result property="status" column="status_"/>
        <result property="remark" column="remark_"/>
        <result property="operator" column="operator_"/>
        <result property="operateTime" column="operate_time_"/>
        <result property="operateIp" column="operate_ip_"/>

    </resultMap>

    <sql id="tbl_all_columns">
        id_,code_,name_,name_head_char_,acl_module_id_,url_,type_,seq_,status_,remark_,operator_,operate_time_,operate_ip_
    </sql>

    <insert id="saveAcl" parameterType="com.ly.entity.po.AclPO">
        INSERT INTO demo_acl
        (<include refid="tbl_all_columns"/>)
        VALUES
        (#{id},#{code},#{name},#{nameHeadChar},#{aclModuleId},#{url},#{type},#{orderId},#{status},#{remark},#{operator},#{operateTime},#{operateIp})
    </insert>
</mapper>