<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.dao.UserDao">
    <resultMap id="userResultMap" type="com.ly.entity.po.UserPO">
        <result property="id" column="id_"/>
        <result property="code" column="code_"/>
        <result property="name" column="name_"/>
        <result property="nameHeadChar" column="name_head_char_"/>
        <result property="deptId" column="dept_id_"/>
        <result property="password" column="password_"/>
        <result property="telephone" column="telephone_"/>
        <result property="email" column="email_"/>
        <result property="status" column="status_"/>
        <result property="remark" column="remark_"/>
        <result property="operator" column="operator_"/>
        <result property="operateTime" column="operate_time_"/>
        <result property="operateIp" column="operate_ip_"/>
    </resultMap>

    <sql id="tbl_all_columns">
        id_,code_,name_,name_head_char_,dept_id_,password_,telephone_,email_,remark_,operator_,operate_time_,operate_ip_
    </sql>
    <sql id="where_conditions">

    </sql>

    <insert id="saveUser" parameterType="com.ly.entity.po.UserPO">
        INSERT INTO demo_user
        (<include refid="tbl_all_columns"/>) VALUES
        (#{id},#{code},#{name},#{nameHeadChar},#{deptId},#{password},#{telephone},#{email},#{remark},#{operator},#{operateTime},#{operateIp})
    </insert>
</mapper>